@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.first {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0%);
}

ul {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*Image hover*/
* {
  box-sizing: border-box;
}

.container-pig {
  position: relative;
  width: 100%;
  max-width: 400px;
  left: -150%;
}

.image-pig {
  display: block;
  width: 100%;
  height: auto;
}

.overlay-pig {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 40px;
  text-align: center;
}

.container-pig:hover .overlay-pig {
  opacity: 1;
}

ul.no-bullets {
  list-style-type: none;
}
